main.home#main
	section.hero
		.header__container.text-center(data-aos="fade-right" data-aos-anchor-placement="center-center")
			h1.header__text#js-dynamic-text-1 Скоростные проходы
			span.header__text.header__text_subtext#js-dynamic-subtext-1 Решение для бизнес-центров 
		.slider-hero.swiper-container(data-aos="fade-in" data-aos-anchor-placement="top-center")
			.swiper-wrapper  
				.swiper-slide(data-subtext="Решение для бизнес-центров")
					img(src="images/Slide1.jpg", alt="")
				.swiper-slide(data-subtext="Решение для офисов")
					img(src="images/Slide2.jpg", alt="")
				.swiper-slide(data-subtext="Решение для спортивно-развлекательных объектов")
					img(src="images/Slide3.jpg", alt="")
				.swiper-slide(data-subtext="Решение для учебных заведений")
					img(src="images/Slide4.jpg", alt="")
				.swiper-slide(data-subtext="Решение для транспортных объектов")
					img(src="images/Slide5.jpg", alt="")
				.swiper-slide(data-subtext="Решение для банков")
					img(src="images/Slide6.jpg", alt="")
			.swiper-pagination

	section.advantages#advantages
		.container.text-center
			h2.advantages__header(data-aos="fade-left" data-aos-anchor-placement="center-center") Преимущества
			.advantages__icons.container(data-aos="fade-in" data-aos-anchor-placement="top-center")
				.icons_wrap
					.icons_list.row
						each object, key in data.home.advanages.icons
							.icon__item.cell-2.cell-3-xs
								figure.icon(
									class=object.svg 
								)
								span.icon__signature 
									!= object.text
								//- +svg("icon-adv-1") https://github.com/ninelines-team/ninelines-docs/blob/master/07_images.md#%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0-%D1%81-svg-%D1%81%D0%BF%D1%80%D0%B0%D0%B9%D1%82%D0%B0%D0%BC%D0%B8 

	section.two.white-bg#products
		.header__container.text-center(data-aos="fade-right" data-aos-anchor-placement="center-center")
			h2.header__text#js-dynamic-text Скоростной проход ST-01
			span.header__text.header__text_subtext#js-dynamic-subtext Универсальный скоростной проход с распашными створками

			.advantages__icons.container
		.container(data-aos="fade-in" data-aos-anchor-placement="top-center")
			.row
				.cell-2.cell-1-md
				.cell-8.cell-10-md
					.swiper-container.slider-prod
						.swiper-wrapper
							a.swiper-slide(href="#prod-1" data-text="Скоростной проход ST-01" data-subtext="Универсальный скоростной проход с распашными створками")
								img(src="images/ST-01__slide1.jpg", alt="")
							a.swiper-slide(href="#prod-2" data-text="Скоростной проход ST-11" data-subtext="Компактный скоростной проход с распашными створками")
								img(src="images/ST-01__slide2.jpg", alt="")
							a.swiper-slide(href="#prod-3" data-text="Скоростной проход ST-02" data-subtext="Скоростной проход с раздвижными створками")
								img(src="images/ST-01__slide3.jpg", alt="")
							a.swiper-slide(href="#prod-4" data-text="Калитка WMD-06" data-subtext="Автоматическая калитка со створкой из закаленного стекла")
								img(src="images/ST-01__slide4.jpg", alt="")
							a.swiper-slide(href="#prod-5" data-text="Ограждение ВН06" data-subtext="Ограждение из закаленного стекла")
								img(src="images/ST-01__slide5.jpg", alt="") 
						.swiper-button-prev
						.swiper-button-next
						.swiper-pagination
				.cell-2.cell-1-md

	section.ver2#products-versions 
		.container
			.row
				.cell-4.show-flex.flex-middle.flex-start
					.header__container
						h2.header__text.header__text_ver2 Скоростной проход ST-01
						span.header__text.header__text_subtext.header__text_subtext-v2 Универсальный скоростной проход с распашными створками
						a.header-demo__video-btn(data-fancybox-plyr data-src="https://www.youtube.com/watch?v=1Ap-dv-lEQY" mainClass="full-vid") 
				.cell-8(data-aos="fade-in" data-aos-anchor-placement="top-center")
					img(src="images/ST-01__main-image.jpg", alt="")
					
	section.ver2.white-bg 
		.container.chess
			.row.chess__row
				.cell-6.chess__video
					+lazyVideo({
						poster: 'images/video-posters/poster1.jpg',
						source: [
							{
								srcset: `video/1.mp4`,
								type: 'video/mp4',
							}
						]
					}).lozad(loop, muted)
				.cell-1
				.cell-5.chess__video-info
					| Скоростной проход ST-01 обеспечивает комфортный бесконтактный доступ. Увеличенная ширина прохода 1200 мм позволяет организовать проезд маломобильных групп населения. На объектах массового пребывания людей можно организовать свободный выход.
			.row.chess__row
				.cell-5.chess__video-info
					| Скоростной проход ST-01 обеспечивает комфортный бесконтактный доступ. Увеличенная ширина прохода 1200 мм позволяет организовать проезд маломобильных групп населения. На объектах массового пребывания людей можно организовать свободный выход.
				.cell-1
				.cell-6.chess__video
					+lazyVideo({
						poster: 'images/video-posters/poster2.jpg',
						source: [
							{
								srcset: `video/2.mp4`,
								type: 'video/mp4',
							}
						]
					}).lozad(loop, muted)
			.row.chess__row
				.cell-6.chess__video
					+lazyVideo({
						poster: 'images/video-posters/poster3.jpg',
						source: [
							{
								srcset: `video/3.mp4`,
								type: 'video/mp4',
							}
						]
					}).lozad(loop, muted)
				.cell-1
				.cell-5.chess__video-info 
					| Скоростной проход ST-01 обеспечивает комфортный бесконтактный доступ. Увеличенная ширина прохода 1200 мм позволяет организовать проезд маломобильных групп населения. На объектах массового пребывания людей можно организовать свободный выход.
			.row.chess__row
				.cell-5.chess__video-info
					| Скоростной проход ST-01 обеспечивает комфортный бесконтактный доступ. Увеличенная ширина прохода 1200 мм позволяет организовать проезд маломобильных групп населения. На объектах массового пребывания людей можно организовать свободный выход.
				.cell-1
				.cell-6.chess__video
					+lazyVideo({
						poster: 'images/video-posters/poster4.jpg',
						source: [
							{
								srcset: `video/4.mp4`,
								type: 'video/mp4',
							}
						]
					}).lozad(loop, muted)
			.row.chess__row
				.cell-6.chess__video
					+lazyVideo({
						poster: 'images/video-posters/poster5.jpg',
						source: [
							{
								srcset: `video/5.mp4`,
								type: 'video/mp4',
							}
						]
					}).lozad(loop, muted)
				.cell-1
				.cell-5.chess__video-info
					| Скоростной проход ST-01 обеспечивает комфортный бесконтактный доступ. Увеличенная ширина прохода 1200 мм позволяет организовать проезд маломобильных групп населения. На объектах массового пребывания людей можно организовать свободный выход.
			.row.flex-center 
				a.btn.btn-gray(href="#") Купить 
	
	//- Скоростной проход ST-01
	section.ver1.video0#prod-1 
		.container
			.row 
				.js-video-main-wrap.push-2.cell-8.post-2.cell-12-md
					.header-demo.flex-between.flex-middle
						h2.header-demo__text Скоростной проход ST-01
						a.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st01 mainClass="full-vid") 
					.swiper-container.slider-demonstration.js-sliderdemo-1
						.swiper-wrapper
							.swiper-slide(data-name="Ракурсы")
								//- poster: 'images/video-posters/poster1.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/1.mp4`, 
											type: 'video/mp4', 
										},
										{ 
											srcset: `video/1245x701/1.mp4`,
											type: 'video/mp4', 
										}
									]
								}).lozad#index-1(autoplay, muted)
							.swiper-slide(data-name="Проход")
								//- poster: 'images/video-posters/poster2.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/2.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/2.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-2(test-attrs)
							.swiper-slide(data-name="Проход2")
								//- poster: 'images/video-posters/poster2.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/2.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/2.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-2(test-attrs)
							.swiper-slide(data-name="Исполнение") 
								//- poster: 'images/video-posters/poster3.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/3.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/3.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-3(test-attrs)
							.swiper-slide(data-name="Безопасность")
								//- poster: 'images/video-posters/poster4.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/4.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/4.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-4(test-attrs)
							.swiper-slide(data-name="Размеры")
								//- poster: 'images/video-posters/poster5.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/5.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/5.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-5(test-attrs)
							.swiper-slide(data-name="Интеграция")
								//- poster: 'images/video-posters/poster6.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st01/6.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/6.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-6(test-attrs)
					.swiper-pagination 
				
		.container
			.row
				.cell-3.cell-0-md
				.cell-6.cell-12-md
					.icons_list.characteristics.row
						//- each object, key in data.home.characteristics.icons
						//- 	.icon__item.cell-2
						//- 		figure.icon(
						//- 			class=object.svg 
						//- 		)
						//- 		span.icon__signature 
						//- 			!= object.text 		
				.cell-3.cell-0-md

	//- скоростной проход st-11
	section.ver1.video1#prod-2 
		.container
			.row 
				.js-video-main-wrap.push-2.cell-8.post-2.cell-12-md
					.header-demo.flex-between.flex-middle
						h2.header-demo__text Скоростной проход ST-11
						a.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st11 mainClass="full-vid") 
					.swiper-container.slider-demonstration.js-sliderdemo-2
						.swiper-wrapper
							.swiper-slide(data-name="Ракурсы")
								+lazyVideo({
									poster: 'images/video-posters/poster1.jpg',
									source: [
										{
											srcset: `video/st11/990x560/1.mp4`,
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/1.mp4`,
											type: 'video/mp4', 
										}
									]
								}).lozad#index-1(autoplay, muted)
							.swiper-slide(data-name="Проход")
								+lazyVideo({
									poster: 'images/video-posters/poster2.jpg',
									source: [
										{
											srcset: `video/st11/990x560/2.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/2.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-2(test-attrs)
							.swiper-slide(data-name="Габариты") 
								+lazyVideo({
									poster: 'images/video-posters/poster3.jpg',
									source: [
										{
											srcset: `video/st11/990x560/3.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/3.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-3(test-attrs)
							.swiper-slide(data-name="Безопасность")
								+lazyVideo({
									poster: 'images/video-posters/poster4.jpg',
									source: [
										{
											srcset: `video/st11/990x560/4.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/4.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-4(test-attrs)
							.swiper-slide(data-name="Исполнение")
								+lazyVideo({
									poster: 'images/video-posters/poster5.jpg',
									source: [
										{
											srcset: `video/st11/990x560/5.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/5.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-5(test-attrs)
							.swiper-slide(data-name="Интеграция")
								+lazyVideo({
									poster: 'images/video-posters/poster6.jpg',
									source: [
										{
											srcset: `video/st11/990x560/6.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/6.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-6(test-attrs)
					.swiper-pagination  
				
		.container
			.row
				.cell-3.cell-0-md
				.cell-6.cell-12-md
					.icons_list.characteristics.row
						each object, key in data.home.characteristics.icons
							.icon__item.cell-2
								figure.icon(
									class=object.svg 
								)
								span.icon__signature 
									!= object.text 		
				.cell-3.cell-0-md
 
	//- скоростной проход st-02
	section.ver1.video2#prod-3 
		.container
			.row 
				.js-video-main-wrap.push-2.cell-8.post-2.cell-12-md
					.header-demo.flex-between.flex-middle
						h2.header-demo__text Скоростной проход ST-02
						a.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st02 mainClass="full-vid") 
					.swiper-container.slider-demonstration.js-sliderdemo-3
						.swiper-wrapper
							.swiper-slide(data-name="Ракурсы")
								//- poster: 'images/video-posters/poster1.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/1.mp4`, 
											type: 'video/mp4', 
										},
										{ 
											srcset: `video/1245x701/1.mp4`,
											type: 'video/mp4', 
										}
									]
								}).lozad#index-1(autoplay, muted)
							.swiper-slide(data-name="Проход")
								//- poster: 'images/video-posters/poster2.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/2.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/2.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-2(test-attrs)
							.swiper-slide(data-name="Проход2")
								//- poster: 'images/video-posters/poster2.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/2.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/2.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-2(test-attrs)
							.swiper-slide(data-name="Исполнение") 
								//- poster: 'images/video-posters/poster3.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/3.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/3.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-3(test-attrs)
							.swiper-slide(data-name="Безопасность")
								//- poster: 'images/video-posters/poster4.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/4_990_560_60fps.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/4.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-4(test-attrs)
							.swiper-slide(data-name="Размеры")
								//- poster: 'images/video-posters/poster5.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/5.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/5.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-5(test-attrs)
							.swiper-slide(data-name="Интеграция")
								//- poster: 'images/video-posters/poster6.jpg',
								+lazyVideo({
									source: [
										{
											srcset: `video/st02/6.mp4`, 
											type: 'video/mp4',
										},
										{ 
											srcset: `video/1245x701/6.mp4`,
											type: 'video/mp4',
										}
									]
								}).lozad#index-6(test-attrs)
					.swiper-pagination 
				
		.container
			.row
				.cell-3.cell-0-md
				.cell-6.cell-12-md
					.icons_list.characteristics.row
						//- each object, key in data.home.characteristics.icons
						//- 	.icon__item.cell-2
						//- 		figure.icon(
						//- 			class=object.svg 
						//- 		)
						//- 		span.icon__signature 
						//- 			!= object.text 		
				.cell-3.cell-0-md


	section.dop-prod.white-bg
		.header__container.text-center
			h2.header__text Установка дополнительного оборудования  
		.container
			.row 
				.cell-2.push-2
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-1.jpg", alt="")
					//- .dop-prod__img.img-dop-1  
					.dop-prod__descr Кронштейн для биометрических считывателей 
				.cell-2.push-1
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-2.jpg", alt="")
					.dop-prod__descr Стойка с картоприемником 
				.cell-2.push-1.post-2
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-3.jpg", alt="")
					.dop-prod__descr Стойка для сканера штрихкода 
				.cell-2.push-2
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-4.jpg", alt="")
					.dop-prod__descr Кронштейны для терминалов распознавания лиц Suprema  
				.cell-2.push-1
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-5.jpg", alt="")
					.dop-prod__descr Кронштейны для терминалов распознавания лиц ZKTeco 
				.cell-2.push-1.post-2
					.dop-prod__img.image-container.is-square
							.image-flex-center 
								img(src="images/dop-prods/dop-prod-6.jpg", alt="")
					.dop-prod__descr Пирометр 

	section.three
		.header__container.text-center
			h2.header__text Фотогалерея  
		.swiper-container.slider-gallery#gallery
			.swiper-wrapper
				.swiper-slide
					img(src="images/gallery/gallery-slide1.jpg", alt="")
					span.slide-signature Скоростные проходы ST-01, офис компании Latécoère, Франция
				.swiper-slide
					img(src="images/gallery/gallery-slide2.jpg", alt="")
					span.slide-signature Скоростные проходы ST-01, кинотеатр Cinamon Kosmos, Эстония
				.swiper-slide
					img(src="images/gallery/gallery-slide3.jpg", alt="")
					span.slide-signature Скоростные проходы ST-01, бизнес-школа Emlyon, Франция
				.swiper-slide
					img(src="images/gallery/gallery-slide4.jpg", alt="")
					span.slide-signature Скоростные проходы ST-01, коворкинг SOK, Москва
				//- .swiper-slide
				//- 	img(src="images/gallery/gallery-slide5.jpg", alt="")
				//- 	span.slide-signature Скоростные проходы ST-01, школа перспективных исследований, Тюмень
				.swiper-slide
					img(src="images/gallery/gallery-slide6.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01 в составе системы контроля доступа PERCo, бизнес-центр West East, Одинцово, Московская область
				//- .swiper-slide
				//- 	img(src="images/gallery/gallery-slide7.jpg", alt="") 
				//- 	span.slide-signature Скоростные проходы ST-02, Аэропорт Внуково, Москва
				.swiper-slide
					img(src="images/gallery/gallery-slide8.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01, фитнес-клуб L'Appart Fitness, Франция
				.swiper-slide
					img(src="images/gallery/gallery-slide9.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01, бизнес-центр «Галерея 76», Москва
				.swiper-slide
					img(src="images/gallery/gallery-slide10.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01, бизнес-центр «Фили Град», Москва
				.swiper-slide
					img(src="images/gallery/gallery-slide11.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01, жилой комплекс «Мосфильмовский», Москва
				.swiper-slide
					img(src="images/gallery/gallery-slide12.jpg", alt="") 
					span.slide-signature Скоростные проходы ST-01 и калитки WMD-06, Назарбаев Университет, Астана
				.swiper-slide
					img(src="images/gallery/gallery-slide13.jpg", alt="") 
					span.slide-signature Калитки WMD-06, детский игровой комплекс KABONK, Нидерланды
				.swiper-slide
					img(src="images/gallery/gallery-slide14.jpg", alt="") 
					span.slide-signature Автоматическая калитка WMD-06, музей железных дорог России, Санкт-Петербург
				.swiper-slide
					img(src="images/gallery/gallery-slide15.jpg", alt="") 
					span.slide-signature Автоматическая калитка WMD-06, главный офис компании JYSK,Брабранд, Дания
				//- .swiper-slide
				//- 	img(src="images/gallery/gallery-slide16.jpg", alt="") 
				//- 	span.slide-signature Скоростные проходы ST11, ЛУКОЙЛ, Москва
			.swiper-button-prev
			.swiper-button-next

	section.four#about
		.container 
			.row 
				.cell-6.cell-12-elg
					.about
						h2.header__text.header__text_white.text-center Почему PERCo 
						.about__joint-photos.hide.show-elg.image-container.is-wide
							.image-flex-center
								img(src="images/about_photos.png", alt="")
						.about__text
							span
							| PERCo - ведущий российский производитель систем и оборудования безопасности
							br
							| PERCo разрабатывает и выпускает: шлагбаумы, турникеты, замки, контроллеры и считыватели, системы контроля доступа.
						.about__text_icons.row
							each object, key in data.home.about.icons
								.icon__item.cell-6.cell-12-xs
									figure.icon(
										class=object.svg
									)
									span.icon__signature
										!= object.text
				.cell-6.cell-0-elg

							
	section.five.white-bg#write-us 
		.header__container.text-center 
			h1.header__text Напишите нам
		.container 
			.row 
				.cell-3
				.cell-6
					form.feedback-form(action="")
						label.feedback-form-label 
							input.feedback-form-label__input(name="name", placeholder="Имя*") 
							
						label.feedback-form-label 
							input.feedback-form-label__input(name="company", placeholder="Компания")
							
						label.feedback-form-label 
							input.feedback-form-label__input(name="phone", placeholder="Телефон") 
							
						label.feedback-form-label 
							input.feedback-form-label__input(name="email", placeholder="Email*")  
							
						label.feedback-form-label 
							textarea.feedback-form-label__input.feedback-form-label__input_textarea(name="message", placeholder="Сообщение")
						
						label.feedback-form-label-checkbox
							input.feedback-form-label-checkbox__input(type="checkbox", required) 
							span Я прочитал(а) 
								a.feedback-form-policy-link(href="", data-fancybox="" data-src="#policy-content") политику конфиденциальности
								|  и соглас(на)ен на обработку данных 	
						.col.flex-middle
							.recaptcha
							button.feedback-form-btn(type="submit", aria-label="Отправить", data-fancybox="" data-src="#form-result-content") Отправить
							
						 
				.cell-3
			.row 
				.push-4.cell-4.post-4.icons_list.social.push-2-sm.cell-8-sm.post-2-sm
					each object, key in data.home.soc.icons
						a.icon__item(href=object.link)
							figure.icon(
								class=object.svg
							)
				
a#scroll-top(href="#main")

.fancy-hide#policy-content 
	.popup_policy 
		h4.policy__title Общество с ограниченной ответственностью «ПЭРКО» 
		h5.policy__subtitle СОКРАЩЕННАЯ ВЕРСИЯ 
		p.policy__paragraph ПЭРКо серьезно относится к конфиденциальности и защите Ваших Персональных данных.</p>
		p.policy__paragraph Термин «Персональные данные» означает информацию, которая прямо или косвенно может идентифицировать Вас или других лиц («<b>Персональные данные</b>»). Данный термин обычно включает такие сведения как фамилия, имя, среднее имя, применяемые дополнительные обращения (степени, титулы и т.д.), отчество, дату рождения, гражданство, паспортные данные, адрес, адрес электронной почты, телефонный номер, а также Ваш статус участника программы сертификации партнеров ПЭРКо. К персональным данным также может относиться другая информация, в том числе, информация об IP-адресе, потребительских предпочтениях, половой принадлежности, возрасте, состоянии Вашего здоровья, образе жизни или информация о Ваших увлечениях и интересах.</p>
		p.policy__paragraph Мы обрабатываем те или иные категории Персональных данных в зависимости от того, каким образом Вы пользуетесь нашими услугами. Мы используем Ваши Персональные данные для предоставления Вам сервисов (функционала) нашего веб-сайта в соответствии с Вашими предпочтениями, обработки Ваших запросов, а также для связи с Вами по вопросам продуктов и услуг, которые могут представлять для Вас интерес и которые мы подобрали специально для Вас, розыгрышей призов, проведения игр или соревнований, а также решения соответствующих вопросов организационного (административного) характера. Все Персональные данные обрабатываются в соответствии с применимым законодательством в сфере защиты данных.</p>
		p.policy__paragraph Мы передаем Ваши Персональные данные исключительно привлекаемым нами обработчикам (т.е. третьим лиц, действующим по нашему поручению), которые содействуют нам при оказании услуг, а также уполномоченных государственных органов. На основании Вашего согласия мы можем использовать куки для маркетинговых целей, а также улучшения функциональности наших сервисов и также в целях статистического анализа.</p>
		p.policy__paragraph Мы также предлагаем Вам как нашему клиенту различные опции контроля за использованием Ваших Персональных данных.</p>
		p.policy__paragraph Если вы желаете получить более подробную информацию об обработке Ваших Персональных данных и куки, которые мы используем, пожалуйста, обратитесь к расширенной версии Политики конфиденциальности.</p>
		h5.policy__subtitle
			a(href="https://www.perco.ru/politika-konfidentsialnosti/", target="_blank", rel="noopener") РАСШИРЕННАЯ ВЕРСИЯ   
		
.fancy-hide#form-result-content 
	.popup-ok.col
		span.popup-ok__header Спасибо!
		.popup-ok__msg 
			p Ваше сообщение
			| отправлено
		figure.icon.icon-ok
		

		